body {
  font-family: Arial;
  background: #1e1e1e;
  color: #eee;
}

.tabs button {
  margin-right: 10px;
}

/* таблица */
#combatTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#combatTable th, #combatTable td {
  border: 1px solid #555;
  padding: 5px;
  text-align: center;
}

#combatTable input {
  width: 90%;
  background: #111;
  color: white;
  border: none;
  text-align: center;
}

/* селекты */
select {
  width: 100%;
  background: #222;
  color: white;
  border: none;
}

/* цвет */
.color-select {
  width: 40px;
  height: 30px;
  cursor: pointer;
}

/* кнопки */
.delete-btn {
  cursor: pointer;
  color: red;
}

.copy-btn {
  cursor: pointer;
  margin-right: 5px;
}

.color-picker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.color-box {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* карточки персонажей */
.character-card {
  border: 1px solid #555;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}
